<!DOCTYPE html>
<html>
<head>
    <title>Meeting About to Begin</title>
</head>
<body>
    <div style="font-style: Arial">
        Hey {{name}},<br>
        <div class="d-inline-flex">A meeting with undermentioned schedule is about to start in <span style="color:red">one minute.</span></div> 
        <br>
        <div>Meeting Name : {{meeting.title}}</div>
        <div>Purpose &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{meeting.purpose}}</div>
        <div>Start Time &nbsp;&nbsp;: {{start}}</div>
        <div>Location &nbsp;&nbsp;&nbsp;&nbsp;: {{meeting.location}}</div><br>
        <p>Hurry Up!</p>
    </div>   
</body>
</html>